@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.section01 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column-reverse;
    margin: 28px 40px;
}

main h3 {
    font-size: 1.7rem;
    color: #fff;
}

main p {
    color: #fff;
    opacity: 85%;
    font-size: 16px;
}

.calendar {
    width: 16%;
    height: 60px;
    background-color: #141a29;
    position: relative;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.calendar p {
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 3.5px;
    font-family: "Josefin Sans", sans-serif;
}

.calendar span {
    font-size: 18.7px;
}

#section-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.6rem;
    gap: 2.5px;
}

.card-single {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 79px;
    width: 32%;
    margin-top: 1.7%;
    background-color: #141a29;
    border-radius: 12px;
}

.card-single-taxa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 79px;
    width: 32%;
    margin-top: 1.7%;
    background-color: #141a29;
    border-radius: 12px;   
}

.info-card h4 {
    font-size: 20pt;
    color: #fff;
}

.info-card p {
    font-size: 10pt;
    line-height: 1rem;
    opacity: 85%;
}

.circle-span {
    height: 42px;
    width: 42px;
    background-color: #2c2c2c;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;

}

.circle-span span {
    font-size: 15pt;
    color: aqua;
}

.info-number p {
    font-size: 8.6pt;
    color: rgb(0, 212, 0);
}

.info-number span {
    font-size: 8.5pt;
}

.info-number {
    height: 12pt;
    width: 45px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(0, 164, 0);
    border: 1px solid rgb(0, 212, 0);
    background-color: rgb(9, 59, 17);
}

.info-number-fall span {
    font-size: 8.5pt;
}

.info-number-fall p {
    font-size: 8.6pt;
    color: rgb(212, 0, 0);
}

.info-number-fall {
    height: 12pt;
    width: 45px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(164, 0, 0);
    border: 1px solid rgb(212, 0, 0);
    background-color: rgb(59, 9, 9);
}

.info-card-taxa h4 {
    font-size: 20pt;
    color: #fff;
}

.info-card-taxa {
    width: 57px;
}

.info-card-taxa p {
    font-size: 10pt;
    line-height: 1rem;
    opacity: 85%;
    width: 120px;
}