@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.section01 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 128px;
}

main {
    display: flex;
    flex-direction: column-reverse;
    margin: 10px 40px 26px 40px;
}

main h3 {
    font-size: 1.7rem;
    color: #fff;
}

main p {
    color: #fff;
    opacity: 85%;
    font-size: 16px;
}

.calendar-menu {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.calendar {
    width: 12%;
    height: 60px;
    background-color: #141a29;
    position: relative;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: absolute;
    right: 40px;
}

.calendar:hover + .menu-calendar {
    display: inline-block;
}

.menu-calendar:hover {
    display: inline-block;
}

.menu-calendar {
    position: relative;
    width: 162.4px;
    justify-content: center;
    display: none;
    transition: all 0.1s;
    text-align: center;
    height: auto;
    border-radius: 0 0 12px 12px;
    padding: 16px 5px;
    background-color: #2c2c2c;
    right: 0px;
    top: 100px;
}

.menu-calendar a {
    color: #fff;
    text-decoration: none;
}

.menu-calendar ul li {
    list-style: none;
    font-family: "Josefin Sans", sans-serif;
    line-height: 275%;
    font-size: 13.5px;
}

.calendar p {
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 3.5px;
    font-family: "Josefin Sans", sans-serif;
}

.calendar span {
    font-size: 18.7px;
}

#section-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    gap: 2.5px;
}

.card-single {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 79px;
    width: 32%;
    margin-top: 1.7%;
    background-color: #141a29;
    border: 1px solid #2c2c2c;
    border-radius: 12px;
}

.card-single-taxa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 79px;
    width: 32%;
    margin-top: 1.7%;
    background-color: #141a29;
    border: 1px solid #2c2c2c;
    border-radius: 12px;   
}

.info-card {
    margin-left: 10.5px;
}

.info-card-taxa {
    margin-left: 10.5px;
}

.info-card h4 {
    font-size: 20pt;
    color: #fff;
}

.info-card p {
    font-size: 10pt;
    line-height: 1rem;
    opacity: 85%;
}

.circle-span {
    height: 42px;
    width: 42px;
    background-color: #2c2c2c;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;

}

.circle-span span {
    font-size: 15pt;
    color: aqua;
}

.info-number p {
    font-size: 8.6pt;
    color: rgb(0, 212, 0);
}

.info-number span {
    font-size: 8.5pt;
}

.info-number {
    height: 12pt;
    width: 45px;
    margin-top: 15px;
    margin-left: 10.5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(0, 164, 0);
    border: 1px solid rgb(0, 212, 0);
    background-color: rgb(9, 59, 17);
}

.info-number-fall span {
    font-size: 8.5pt;
}

.info-number-fall p {
    font-size: 8.6pt;
    color: rgb(212, 0, 0);
}

.info-number-fall {
    height: 12pt;
    width: 45px;
    margin-top: 15px;
    margin-left: 10.5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(164, 0, 0);
    border: 1px solid rgb(212, 0, 0);
    background-color: rgb(59, 9, 9);
}

.info-card-taxa h4 {
    font-size: 20pt;
    color: #fff;
}

.info-card-taxa {
    width: 57px;
}

.info-card-taxa p {
    font-size: 10pt;
    line-height: 1rem;
    opacity: 85%;
    width: 120px;
}

#total-vendas {
    width: 100%;
    height: auto;
    padding: 18.5px 1.4rem;
    border-radius: 12px;
    border: 1px solid #2c2c2c;
    margin-top: 1.5rem;
    color: #fff;
    background-color: #141a29;
}

#total-vendas h4 {
    font-size: 20pt;
    color: #fff;
}

#total-vendas title-vendas {
    font-size: 10pt;
    line-height: 1rem;
    opacity: 85%;
}

#total-vendas hr {
    margin-top: 0.8rem;
    color: #2c2c2c;
}

.ordem-sales-position {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.vendas-left {
    display: flex;
    flex-direction: row;
}

.vendas-info001 {
    display: flex;
    flex-direction: column;
}

.info-vendas-number {
    height: 12pt;
    width: 45px;
    margin-top: 24px;
    margin-left: 10.5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(0, 164, 0);
    border: 1px solid rgb(0, 212, 0);
    background-color: rgb(9, 59, 17);
}

.info-vendas-number p {
    font-size: 8.6pt;
    color: rgb(0, 212, 0);
}

.info-vendas-number span {
    font-size: 8.5pt;
}

#sales-box {
    width: auto;
    padding: 0 18px;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c243a;
    border-radius: 20px;
    cursor: pointer;
    gap: 5px;
}

#sales-box p {
    font-size: 12.5px;
    text-transform: uppercase;
    margin-top: 3.5px;
    font-family: "Josefin Sans", sans-serif;
}

#sales-box span {
    font-size: 18.7px;
}

.chartJS {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#chart-container {
    margin-top: 1.5rem;
    color: #000;
}

.container-mais-dados {
    display: flex;
    flex-direction: row;
    height: auto;
    margin: 18px 0;
    color: #fff;
    gap: 18px;
    width: 100%;
}

.taxa-de-repeat {
    width: 50%;
    height: 270px;
    padding-top: 1.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #141a29;
    border-radius: 12px;
    border: 1px solid #2c2c2c;
}

.User_dispositivos {
    width: 70%;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #141a29;
    border-radius: 12px;
    border: 1px solid #2c2c2c;
}

#circle_Chart {
    float: left;
    color: white;
}

.devices-container {
    width: 45%;
}